忽略文件的几种写法.txt
out
abc.txt
com.dong.javastudy.iml
dog1.jpg
emp.txt
print.txt
.idea
dest
FirstServlet.iml
web
IO_study04.iml
lib
production
JavaPrimaryStudy.iml
ObjectRelationshipMapping.iml
.gitignore
secondweb.iml
ServletStudy.iml
sxtStudy.iml
temp.txt
